/* sezione body*/
body{
    margin-top: 0px;
    margin-left: 0px;
}

/*sezione header*/
header {
    background-color: #9cd6f4;
    width: 1920px;
    height: 130px;
    
    
}

/*logo*/
header .logo {
    width: 250px;
    height: 50px;
    text-align: left;
    padding-left: 40px;
    padding-top: 40px;
    
}

/*main*/
main {
    padding-left: 70px;
}

main section h1 {
    margin-bottom: 0px;
}

main .intestazione p {
    margin-top: 0px;
    font-size: 12px;
    color: grey;
}

main .paragraph-photos p {
    color: black;
    font-size: 12px;
    margin-top: 0px;
}

main .testo {
    background-color: yellow;
}

/*tabella*/
table {
    width: 100%;
}

main .thead {
    background-color: #7fa6fb;
    text-align: left;
}

.tbody1 {
    background-color: #dfe5f2;
    width: 200px;
}

.tbody2 {
    background-color: white;
    width: 200px;
}

/*footer*/
footer p {
    height: 20px;
    background-color: #313a6b;
    text-align: center;
    color: white;
}