body{
    margin-top: 0px;
    margin-left: 0px;
}


header {
    background-color: #9cd6f4;
    width: 1920px;
    height: 130px;
    
    
}


header .logo {
    width: 250px;
    height: 50px;
    text-align: left;
    padding-left: 40px;
    padding-top: 40px;
    
}


main {
    padding-left: 70px;
}

main section h1 {
    margin-bottom: 0px;

}

main .intestazione p {
    margin-top: 0px;
    font-size: 12px;
    color: grey;

}

main .paragraph-photos p {
    color: black;
    font-size: 12px;
    margin-top: 0px;
}

main .testo {
    background-color: yellow;
}

main .thead {
    background-color: #7fa6fb;
}

.tbody1 {
    background-color: #dfe5f2;
}

.tbody2 {
    background-color: white;
}